.contacts {
    background-color: $thirty;

    &__wrap {
        padding-top: 55px;
        padding-bottom: 60px;
    }

    &__title {
        font-size: 30px;
        font-family: Raleway;
        color: $white;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.1;
        text-align: center;
        margin: 25px 0 40px;

        &::before {
            content: "";
            background-color: $white;
            display: block;
            margin: 0 auto 25px;
            width: 70px;
            height: 2px;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        display: flex;
    }

    &__form {
        flex-basis: 535px;
        margin: 10px 0;
        margin-right: 65px;
    }
    &__map {
        flex-grow: 1;
        max-width: 570px;
    }
}