$line-color: #2f2f2f;
$text-color: #464646;

.responsive {
    &__wrap {
        padding-top: 100px;
        padding-bottom: 100px;
        background: url('../../img/bg-two.png') left bottom no-repeat;
    }
    &__info {
        max-width: 360px;
        margin-left: auto;
    }
    &__title {
        font-size: 30px;
        color: $white;
        font-weight: 700;
        font-family: Raleway;
        line-height: 1.1;
        text-transform: uppercase;
        margin: 20px 0;
        position: relative;

        &::before {
            content: "";
            background-color: $line-color;
            width: 70px;
            height: 2px;
            position: absolute;
            top: -25px;
            left: 0;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 1.429;
        color: $text-color;
        margin: 20px 0;
    }

    &__list {
        margin: 20px 0;
    }

    &__button {
        @include button($thirty) {
            margin-top: 50px;
        };
    }
}

@media (max-width: 768px) {
    .responsive {
        &__wrap {
            background: none;
        }
        &__info {
            max-width: 100%;
            margin-left: 0;
        }
    }
}

@media (max-width: 480px) {
    .responsive {
        &__wrap {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}