.skills {
    background-color: $second;
    
    &__wrap {
        padding-top: 80px;
        padding-bottom: 80px;
        display: flex;
    }

    &__left {
        flex-basis: 280px;
        margin-right: 115px;
    }

    &__right {
        flex-grow: 1;
    }

    &__title {
        font-size: 30px;
        font-family: Raleway;
        color: $white;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.1;
        position: relative;

        &::before {
            content: "";
            background-color: $white;
            position: absolute;
            top: -25px;
            left: 0;
            width: 70px;
            height: 2px;
        }
    }

    &__text {
        font-size: 14px;
        color: $white;
        line-height: 1.429;
        margin: 20px 0;
    }
    &__button {
        @include button($primary) {
            margin-top: 50px;
        };
    }

    &__progress {
        margin: 20px 0;
    }
}